<html>
  <body>
    <form method="post">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br>
      <label for="phone">Phone:</label><br>
      <input type="text" id="phone" name="phone"><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Sign up">
      <p>Use your country code before entering Phone no. For Ex- +91 for India</p>
    </form>
  </body>
</html>
